

<div id="@ViewBag.StatistiekId">
    <h3 class="statistieken-opmaak-titel">
        Kruising: @ViewBag.ItemNaam1 &amp; @ViewBag.ItemNaam2
    </h3>


    <div>
        <div class="statistieken-opmaak-inhoud">
            Aantal gemeenschappelijke tweets: @ViewBag.GekruistItemAantal
        </div>
    </div>

   
</div>



@*<div id="@ViewBag.StatistiekId">
    <h3 class="statistieken-opmaak-titel">
        Kruising: @ViewBag.ItemNaam1 &amp; @ViewBag.ItemNaam2
    </h3>


    <div>
        <div class="statistieken-opmaak-inhoud">
            @ViewBag.ItemNaam1 en @ViewBag.ItemNaam2 komen @ViewBag.GekruistItemAantal keer samen voor in de tweets.
        </div>
    </div>

    @*<button id="verwijderen-@ViewBag.StatistiekId" class="btn btn-primary" onclick="statistiekVerwijderen(this.id)">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

</div>*@

