@model IEnumerable<MVC.Models.SuperAdminUserViewModel>

@{
  ViewBag.Title = "GebruikersTonen";
}

<h2>Gebruikers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Verander recht
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("SlaAdminOp", "Superadmin", new { email = @item.Email, setAdmin = !@item.IsAdmin })'">
                <span>Verander</span>
            </button>
        </td>
    </tr>
    }
</table>