@*Seppe*@

@{
    ViewBag.Title = "SuperAdmin";
}

<h1>Superadmin</h1>


<div class="container">
    @*<div class="row">
        <div class="col-md-12">*@
    <div class="row">
        <div class="col-md-4">
            <div>
                <button class="btn btn-primary btn-algemene-layout" id="btnMediabronnen">Sociale mediabronnen instellen</button>
            </div>
            <div>
                <button class="btn btn-primary btn-algemene-layout" id="btnGebruikersgegevens">Gebruikersgegevens nakijken</button>
            </div>
            <div>
                <button class="btn btn-primary btn-algemene-layout" id="btnDeelplatform">Deelplatform aanmaken</button>
            </div>
            <div>
                <button class="btn btn-primary btn-algemene-layout" id="btnDeelplatformen">Deelplatformen beheren</button>
            </div>
            <div>
                <button class="btn btn-primary btn-algemene-layout" id="btnAdmins">Admins instellen</button>
            </div>
            <div>
                <button class="btn btn-primary btn-algemene-layout" id="btnAdmins">Admins instellen</button>
            </div>
        </div>
        <div class="col-md-8" id="divResultaat">

        </div>
    </div>
    @*</div>
        </div>*@
</div>


@section scripts {
    <script type="text/javascript">
        $("#btnMediabronnen").click(function () {
        $.get('@Url.Action("LaadMediabronnen", "SuperAdmin")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#btnGebruikersgegevens").click(function () {
        $.get('@Url.Action("LaadGebruikersgegevens", "SuperAdmin")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#btnDeelplatform").click(function () {
        $.get('@Url.Action("MaakDeelplatform", "SuperAdmin")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#btnAdmins").click(function () {
        $.get('@Url.Action("LaadGebruikers", "SuperAdmin")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>

    <script type="text/javascript">
        $("#btnDeelplatformen").click(function () {
        $.get('@Url.Action("DeelplatformOverzicht", "SuperAdmin")', {}, function (resultaat) {
            $("#divResultaat").html(resultaat);
        });
        });
    </script>




    @*Werkt niet*@
    @*<script type="text/javascript">
            $("#btnBronToevoegen").click(function () {
                //var ul = document.getElementById("#lstBronnen");
                //var li = document.createElement("li");
                //var children = ul.children.length + 1;
                //li.setAttribute("id", "element" + children);
                //li.appendChild(document.createTextNode("test"));
                //ul.appendChild(li)

                $("#lstBronnen").append('<li>test</li>');


            });
        </script>*@
}
